# Configuration file

####################
# block
####################

block {
    I:blockMultipart.id=816
    I:chunkloader.id=817
}


####################
# chunkloader
####################

chunkloader {
    ####################
    # playerQuotaOverride
    ####################

    playerQuotaOverride {
    }

}


####################
# general
####################

general {
    B:autoAssign=false
    B:chunkloader.allowFuelPiping=false
    B:chunkloader.bypassForgeChunkLimits=true
    B:chunkloader.enableCrafting=true

    # comma-separated list of id:meta=number-of-ticks or id=number-of-ticks
    S:chunkloader.fuels=87=80,1=60,263:0=12000,348=2400,4=20,331=1200,112=200,3=20,263:1=1200,368=18000,378=18000,381=36000
    B:chunkloader.hideOtherPlayersLoadersInF9=false

    # Type of quota management to use for chunk loaders. Allowed values: perplayer, unlimited
    S:chunkloader.quotaType=unlimited
    B:chunkloader.useFuel=false
    B:enableMicroblocks=true
}


####################
# item
####################

item {
    I:itemSaw=5726
}


####################
# logging
####################

logging {
    # Name of a file to keep updated with a list of all active chunk loaders. Blank for none.
    S:chunkloader.listFileName=

    # Name of a file to log creation, deletion and editing of chunk loaders to. Blank for none.
    S:chunkloader.logFileName=
}


