# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Fri May 17 16:44:00 MDT 2013
allowDebugOutput=false
allowUpdateCheck=true
checksum=1wk
