# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Sat May 18 12:58:35 MDT 2013
allowDebugOutput=false
allowUpdateCheck=true
checksum=1wk
