# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Sun May 19 13:54:37 MDT 2013
allowDebugOutput=false
allowUpdateCheck=true
checksum=1wk
